*{/*marcador universal para toda la pag*/
    margin: 0;
    padding: 0; 
    font-family: 'Times New Roman', Times, serif;
}
header, .main, footer{/*color de fondo, tamaño, max, margenes*/
    /*color*/
    width: 90%;/*Tmaño 90 porciento par aque se adapte a cualquier dispositivo*/
    max-width: 1000px;/* para que se centre*/
    margin:20px auto;/*par aque se centre y haya 20 px de separacion en cada uno de las partes*/
}
header nav{
    background: #9e1491;
    overflow: hidden;/*PAra que se limpia el float left y se vea*/

}
header nav ul{
    list-style: none;/*no muestren los puntos*/
}
header nav ul li{
    float: left;/*para que los elementos se pongan uno al lado del otro*/
}
header nav ul li a{
    color: white;
    padding: 10px 20px;/*separacion de 10 a los lados y 20 px arriba yabajo*/
    display: block;/**/
    text-decoration: none ;/*sacar el subrayado
    */
    font-size: 20px;
}
header nav ul li a:hover{
    font-size: 27px;
    background: #bb3cae ;
}
.main .articulos{
    width: 68.5%;
    
    margin-right: 1.5%;
    float: left;
    
}
.main .articulos article{
    padding: 20px;
    background: #bb3cae;
    margin-bottom: 20px;
}
aside{
    width: 30%;
    background: #bd0065;
    float: left;
    padding: 20px;
    box-sizing: border-box;/*el padding a 20px supera el procentaje */
}
footer{
    clear: both;/*limpiar los float left un salto de linea*/
    color: white;
    background:#0f0823;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;/*alinea el texto*/
}

