form {
    padding: 30px;
    width: 25%;
    border: solid black;
    
}
label{
    font-size: 12px;
    display: block;
    width: 100%;
}
input:hover{
    background: brown;
    
}
input[type="submit"]{
    margin-bottom: 0;
    background: blue;
    width: 220px;

}
input[type="submit"]:hover{
    background: lightblue;

}
