.menu {
    color: white ;
    background:#00BB7A;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    /*Crea el menu con fondo verde cin margenes*/
    
}
.menu li{
    display: inline-block;/*los pone uno al lado del otro*/
}
.menu li a{
    padding: 20px 20px;
    text-decoration: none;
    display: inline-block;
    color: white;
    
}
.menu li a:hover{
    /*AL pasar el mouse cambia de tamaño y de color de fondo*/
    font-size: 30px;
    background: orange;

}


.rojo{
    color:#f2f1f0;
}
.ama{
    color: rgb(226, 226, 10);
}
.violeta{
    color:#80004A;
}
.art1{
    background:#Ae0000 ;
    margin: 10px 20px;
    border:5px solid black;
}
body{
    background: url(../../Wallpaper/d7ys361-440d458d-9273-4cca-9bc4-04df5ef5ed9b.jpg);
    background-size: 1400px 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
aside img{
   border-radius: 40px;
   /*hace la imagen con los bordes circulares*/
}