table{
    border: 1px solid black;
    width: 300px;
}
table td{
    border: 1px solid black;
}
table tr:hover{
    background: brown;

}
table td:hover{
    background: cadetblue;
    color: rgb(56, 243, 39);
}